[Unit]
Description=vgaswitch resume disable
After=suspend.target

[Service]
Type=oneshot
# ExecStart=/usr/bin/sh -c "echo OFF > /sys/kernel/debug/vgaswitcheroo/switch"
ExecStart=/usr/local/sbin/fixgpu

[Install]
WantedBy=suspend.target

