# See systemd.timers and systemd.time manpages for details
[Unit]
Description=ZFS weekly scrub timer

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
